
<div layout="row" flex style="min-height: calc(100vh - 64px);">
    <div class="md-whiteframe-z2" flex="20" style="padding: 16px; z-index: 1; background-color: #FAFAFA;">
        <form name="filterByName">
            <md-input-container>
                <label>Название задания</label>
                <input type="text" ng-model="taskName"/>
            </md-input-container>
        </form>
        <div class="complexityFilter" style="margin-left: 5%">
            <h5>Сложность</h5>
            <md-checkbox ng-model="taskFilter.complexityEasy">Легко</md-checkbox>
            <md-checkbox ng-model="taskFilter.complexityMedium">Средне</md-checkbox>
            <md-checkbox ng-model="taskFilter.complexityHard">Сложно</md-checkbox>
        </div>
        <form name="filterBySkill" layout="row" layout-align="center center">
            <md-input-container flex="85">
                <label>Скилы</label>
                <input type="text" ng-model="skillName" name="skillsFilter" required/>

                <div ng-messages="filterBySkill.skillsFilter.$error">
                    <div ng-message="required">Введите название скила.</div>
                </div>
            </md-input-container>
            <div></div>
            <md-button class="md-primary" style="height: 50%" flex="15" layout-align="center center"
                       aria-label="filter_add_skill">
                <img src="/bower_components/material-design-icons/content/svg/design/ic_add_24px.svg"/>
            </md-button>
        </form>
    </div>

    <div layout="column" layout-fill class="md-whiteframe-z2" style="background-color: #fff; ">
        <div>
            <div layout="row" layout-align="start center" layout-margin>
                <h5>Сортировать по: </h5>

                <div class="sortBy">
                    <label for="sortAlphabetDown">алфавиту</label>
                    <img id="sortAlphabetDown"
                         src="/bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_down_24px.svg"/>
                </div>
                <div class="sortBy">
                    <label for="sortComplexityDown">сложности</label>
                    <img id="sortComplexityDown"
                         src="/bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_down_24px.svg"/>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
        <div>
            <md-list>
                <md-item class="animate" ng-repeat="(key, task) in tasks | objectByKeyValFilter: 'title': taskName">
                    <md-item-content style="align-items: flex-start !important;">
                        <div class="md-tile-content">
                            <div>
                                <h3 style="float: left; margin-right: 20px"> <a href="/tasks/{{key}}"> {{task.title}}</a></h3>
                                <h3 style="float: left; color: #4CAF50">ЛЕГКО</h3>
                                <md-subheader style="float: right; padding: 0">exp: {{task.exp | thousand}}
                                </md-subheader>
                            </div>

                            <br/>

                            <h3 style="float: left; margin-right: 7px; margin-top: 3px;">Навыки:</h3>
                            <md-button class="md-raised md-primary label-button" ng-repeat="skill in task.skills">
                                {{skills[skill].title}}
                            </md-button>

                            <div class="my-show-hide-animation" ng-show="task.expanded">
                                <div style="margin-top: 5px;">
                                    <pre>{{task.description}}</pre>
                                </div>
                            </div>
                            <div layout="row" layout-align="space-between center">
                                <div class="my-subheader">Дата создания: {{task.dateCreated}}</div>
                                <div class="my-subheader">
                                    Автор: <a href="/users/{{users.indexOf(findUser(task.author))}}">{{findUser(task.author).fullName}}</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <md-button ng-click="expand(task)" style="margin: 20px" aria-label="expand">
                                <img ng-show="!task.expanded"
                                     src="/bower_components/material-design-icons/navigation/svg/design/ic_expand_more_24px.svg">
                                <img ng-show="task.expanded"
                                     src="/bower_components/material-design-icons/navigation/svg/design/ic_expand_less_24px.svg">
                            </md-button>
                            <br>
                        </div>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>
                </md-item>
            </md-list>
        </div>
    </div>
</div>

<!--div class="container-fluid">
    <div class="col-md-4">
        <!--Filter->
        <form class="well">
            <h2 style="margin: 10px 0 15px 0">Все задания:</h2>
            <input id="filter_tasks_by_name" type="text" class="input-sm search-query" placeholder="Название..." ng-model="query" ng-change="search()">
            <p class="help-block">Введите название задачи</p>
            <label for="filter_tasks_by_complexity" style="margin-top: 20px">Сложность:</label>
            <div id="filter_tasks_by_complexity">
                <div class="checkbox">
                    <label><input type="checkbox">Легко</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox">Средне</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox">Сложно</label>
                </div>
            </div>
            <label for="list_with_plus" style="margin-top: 20px">Скилы:</label>
            <ul id="list_with_plus">
                <a href="#" ng-repeat="skill in skills" ng-click="filterAddSkill(skill)">
                    <li id="element_with_plus">{{skill.title}}</li>
                </a>
            </ul>
        </form> <!--Filter->
    </div>

    <div class="col-md-8">
        <!--Sort->
        <div id="tasks_sort" class="row">
            <div class="col-md-3">
                Сортировать по:
            </div>
            <div class="col-md-9">
                <label class="radio-inline"><input type="radio" name="sort_by" checked>алфавиту</label>
                <label class="radio-inline"><input type="radio" name="sort_by">сложности</label>
            </div>
        </div> <!--Sort-->

<!--List of tasks->
<ol>
    <li ng-repeat="task in tasks">
        <a href="/view_one"><h3><b>{{task.title}}</b></h3></a>
        <h4 style="text-indent: 2em">{{task.description}}</h4>
        <div style="text-indent: 2em; font-style: italic">
            <span ng-repeat="id in task.skillsID">{{skills[id].title}}; </span>
        </div>
    </li>
</ol><!--List of tasks->
</div>
</div-->