
<div layout="row" flex style="min-height: calc(100vh - 64px);">
    <div class="md-whiteframe-z2" flex="20" style="padding: 16px; z-index: 1; background-color: #FAFAFA;">
        <form name="filterByName">
            <md-input-container>
                <label>Название задания</label>
                <input type="text" ng-model="taskName"/>
            </md-input-container>
            <div layout="row" layout-align="center center">
                <md-input-container flex="85">
                    <label>Скилы</label>
                    <input type="text" ng-model="skillName" name="skillsFilter"/>
                </md-input-container>
                <div></div>
                <md-button class="md-primary" style="height: 50%" flex="15" layout-align="center center"
                           aria-label="filter_add_skill">
                    <img src="/bower_components/material-design-icons/content/svg/design/ic_add_24px.svg"/>
                </md-button>
            </div>
            <div layout="row" layout-align="center center">
                <md-input-container flex="85">
                    <label>Автор</label>
                    <input type="text" ng-model="skillName" name="skillsFilter"/>
                </md-input-container>
                <div></div>
                <md-button class="md-primary" style="height: 50%" flex="15" layout-align="center center"
                           aria-label="filter_add_author">
                    <img src="/bower_components/material-design-icons/content/svg/design/ic_add_24px.svg"/>
                </md-button>
            </div>
            <div style="margin-left: 5%">
                <md-checkbox class="md-accent" ng-model="hideUnconfirmed" ng-init="hideUnconfirmed=true">Скрывать неподтвержденные</md-checkbox>
            </div>
        </form>
    </div>

    <div layout="column" layout-fill class="md-whiteframe-z2" style="background-color: #fff; ">
        <div>
            <div layout="row" layout-padding layout-align="start center">
                <h4 style="margin-left: 8px; margin-bottom: 15px; margin-top: 15px;">Сортировать по: </h4>

                <div class="sortBy" layout="row" layout-align="center center">
                    <label for="sortAlphabetDown">названию</label>
                    <img id="sortAlphabetDown"
                         src="/bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_down_24px.svg"/>
                    <img id="sortAlphabetDUp"
                         src="/bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_up_24px.svg"
                         hide/>
                </div>
                <div class="sortBy" layout="row" layout-align="center center">
                    <label for="sortDateDown">дате</label>
                    <img id="sortDateDown"
                         src="/bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_down_24px.svg"/>
                    <img id="sortDateUp"
                         src="/bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_up_24px.svg"
                         hide/>
                </div>
                <div class="sortBy" layout="row" layout-align="center center">
                    <label for="sortPopularityDown">популярности</label>
                    <img id="sortPopularityDown"
                         src="/bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_down_24px.svg"/>
                    <img id="sortPopularityUp"
                         src="/bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_up_24px.svg"
                         hide/>
                </div>
                <div class="sortBy" layout="row" layout-align="center center">
                    <label for="sortComplexityDown">сложности</label>
                    <img id="sortComplexityDown"
                         src="/bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_down_24px.svg"/>
                    <img id="sortPopularityUp"
                         src="/bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_up_24px.svg"
                         hide/>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
        <div>
            <md-list>
                <md-item class="animate" ng-repeat="(key, task) in tasks | objectByKeyValFilter: 'title': taskName">
                    <md-item-content style="align-items: flex-start !important;">
                        <div class="md-tile-content" layout="column">
                            <div>
                                <h3 style="float: left; margin-right: 20px"> <a href="/tasks/{{key}}"> {{task.title}}</a></h3>
                                <h3 style="float: left; color: #4CAF50">ЛЕГКО</h3>
                                <p style="float: right; padding: 0">exp: {{task.exp | thousand}}</p>
                            </div>
                            <div>
                                <h3 style="float: left; margin-right: 7px;  ">Навыки:</h3>
                                <md-button class="md-raised md-primary label-button" ng-repeat="skill in task.skills">
                                    {{skills[skill].title}}
                                </md-button>
                            </div>
                            <div class="my-show-hide-animation" ng-show="task.expanded">
                                <div style="margin-top: 5px;">
                                    <pre>{{task.description}}</pre>
                                </div>
                            </div>
                            <div layout="row" layout-align="space-between center">
                                <div class="my-subheader">Дата создания: {{task.dateCreated}}</div>
                                <div class="my-subheader">
                                    Автор: <a href="/users/{{users.indexOf(findUser(task.author))}}">{{findUser(task.author).fullName}}</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <md-button ng-click="expand(task)" style="margin: 20px" aria-label="expand">
                                <img ng-show="!task.expanded"
                                     src="/bower_components/material-design-icons/navigation/svg/design/ic_expand_more_24px.svg">
                                <img ng-show="task.expanded"
                                     src="/bower_components/material-design-icons/navigation/svg/design/ic_expand_less_24px.svg">
                            </md-button>
                            <br>
                        </div>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>
                </md-item>
            </md-list>
        </div>
    </div>
</div>
