/* all.html */

.sortBy {
    margin-left: 5%; }

.animate.ng-enter,
.animate.ng-leave {
    -webkit-transition: 500ms ease-in-out all;
    -moz-transition: 500ms ease-in-out all;
    -o-transition: 500ms ease-in-out all;
    transition: 500ms ease-in-out all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap; }

.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
    opacity: 0;
    width: auto;
    height: auto;
    max-width: 0;
    max-height: 0; }

.animate.ng-enter.ng-enter-active,
.animate.ng-leave {
    opacity: 1;
    max-width: 2000px;
    max-height: 150px; }

.my-show-hide-animation.ng-hide-add,
.my-show-hide-animation.ng-hide-remove {
    -webkit-transition: 500ms ease-in-out all;
    transition: 500ms ease-in-out all;
    /* remember to add this */
    display: block !important;
    max-height: 300px;
    overflow: hidden;
    opacity: 1; }

.my-show-hide-animation.ng-hide {
    height: auto;
    max-height: 0;
    opacity: 0; }

.my-subheader {
    font-size: 14px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.54); }

.label-button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 5px;
<<<<<<< HEAD
    padding: 0 3px 1px;
}

=======
    padding: 3px;
    padding-top: 1px;
}
>>>>>>> Исправлены последствия удаления бутстрапа
/* view.html */

.taskTabs .tab-content {
    background-color: #1976D2;
    width:inherit;
    height: 30px; }

.taskTabs .tabpanel-container {
    display: block;
    position: relative;
    background: white;
    border: 0 solid black;
    height: 350px;
    overflow: hidden; }

.taskTabs [role="tabpanel"] {
    border-left: solid 2px #1976D2;
    border-right: solid 2px #1976D2;
    width: 100%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute; }

.taskTabs [role="tabpanel"].ng-leave.ng-leave-active, .taskTabs [role="tabpanel"].ng-enter {
    top: -350px; }

.taskTabs [role="tabpanel"].ng-leave, .taskTabs [role="tabpanel"].ng-enter.ng-enter-active {
    top: 0; }

.taskTabs [role="tabpanel"].ng-leave {
    z-index: 100; }

.taskTabs .md-header {
    border-radius: 3px;
    background-color: #1976D2 !important; }

.taskTabs md-tab {
    color: #90caf9 !important; }

.taskTabs md-tab.active, .taskTabs md-tab:focus {
    color: white !important; }

.taskTabs md-tab[disabled] {
    opacity: 0.5; }

.taskTabs .md-header .md-ripple {
    border-color: #FFFF8D !important; }

.taskTabs md-tabs-ink-bar {
    background-color: #FFFF8D !important; }

.authorFace {
    border-radius: 30px;
    border: 1px solid #ddd;
    zoom: 200%;
    margin: 8px; }