<link rel="stylesheet" href="/front/tasks/styles.css">

<div layout="column" layout-fill style="background-color: #ffffff; padding: 1%">
    <div layout="row" layout-align="space-between start" flex>
        <div>
            <h2>{{task.title}}</h2>
            <div style="font-size: 15px; margin-left: 10px; color: rgba(0, 0, 0, 0.57)">
                <i>Дата создания: {{task.dateCreated}}</i>
            </div>
        </div>
        <div style="margin-top: 20px; margin-bottom: 10px; font-size: medium">
            <md-button class="md-accent">
                <img src="/bower_components/material-design-icons/action/svg/design/ic_thumb_up_24px.svg">
                {{task.likes}}
                <md-tooltip>Мне нравится</md-tooltip>
            </md-button>
            <md-button class="md-primary">
                <img src="/bower_components/material-design-icons/action/svg/design/ic_work_24px.svg">
                {{task.participants}}
                <md-tooltip>Взять задание</md-tooltip>
            </md-button>
        </div>
    </div>
    <md-divider></md-divider>

    <h3 style="margin-left: 10px;"><i>exp: {{task.exp | thousand}}</i></h3>

    <div class="taskTabs">
        <md-tabs class="md-primary" md-selected="selectedIndex">
            <md-tab id="tab1" aria-controls="tab1-content">
                Условие
            </md-tab>
            <md-tab id="tab2" aria-controls="tab2-content">
                Умения
            </md-tab>
            <md-tab id="tab3" aria-controls="tab3-content">
                Автор
            </md-tab>
        </md-tabs>
        <ng-switch on="selectedIndex" class="tabpanel-container">
            <div role="tabpanel"
                 aria-labelledby="tab1"
                 layout="column"
                 layout-align="space-between start"
                 ng-switch-when="0"
                 md-swipe-left="next()"
                 md-swipe-right="previous()" >
                <md-content style="padding: 20px; width: 100%">
                    {{task.description}}
                </md-content>
                <div class="tab-content"></div>
            </div>
            <div role="tabpanel"
                 aria-labelledby="tab2"
                 layout="column"
                 layout-align="space-between start"
                 ng-switch-when="1"
                 md-swipe-left="next()"
                 md-swipe-right="previous()" >
                <md-content style="padding: 20px; width: 100%">
                    <md-button class="md-raised md-primary label-button" ng-repeat="skill in task.skills">
                        {{skills[skill].title}}
                    </md-button>
                </md-content>
                <div class="tab-content"></div>
            </div>
            <div role="tabpanel"
                 aria-labelledby="tab3"
                 layout="column"
                 layout-align="space-between start"
                 ng-switch-when="2"
                 md-swipe-left="next()"
                 md-swipe-right="previous()" >
                <md-content style="padding: 20px; width: 100%">
                    <div layout="row" layout-align="start center">
                        <img src="/bower_components/material-design-icons/action/svg/design/ic_account_circle_24px.svg"
                               class="authorFace">
                        <div>
                            <h4 style="margin-top: 25px; margin-bottom: 10px;"><a class="authorToolLink" href="/users/{{users.indexOf(author)}}" ng-click="goToAuthor()">{{author.fullName}}</a></h4>
                            <h5 style="margin-top: 0px;">exp: {{author.exp | thousand}}</h5>
                        </div>
                    </div>
                    <div>
                        <h5 style="margin-bottom: 10px;">Умею: </h5>
                        <md-button class="md-raised md-primary md-hue-2 label-button" ng-repeat="skill in author.skills">
                            {{skills[skill].title}}
                        </md-button>
                    </div>
                    <div layout="row">
                        <div ng-show="author.tasksReceived.length" flex>
                            <h5 style="margin-bottom: 10px; margin-top: 10px;">Полученные задания: </h5>
                            <ul style="margin-top: 0px;"><li ng-repeat="taskReceived in author.tasksReceived">{{tasks[taskReceived].title}}</li></ul>
                        </div>
                        <div ng-show="author.tasksDone.length" flex>
                            <h5 style="margin-bottom: 10px; margin-top: 10px;">Выполненные задания: </h5>
                            <ul style="margin-top: 0px;"><li ng-repeat="taskDone in author.tasksDone">{{tasks[taskDone].title}}</li></ul>
                        </div>

                        <div ng-show="author.tasksApproved.length" flex>
                            <h5 style="margin-bottom: 10px; margin-top: 10px;">Созданные задания: </h5>
                            <ul style="margin-top: 0px;"><li ng-repeat="taskApproved in author.tasksApproved">{{tasks[taskApproved].title}}</li></ul>
                        </div>
                        <div ng-show="author.tasksCreated.length" flex>
                            <h5 style="margin-bottom: 10px; margin-top: 10px;">Подтвержденные задания: </h5>
                            <ul style="margin-top: 0px;"><li ng-repeat="taskCreated in author.tasksCreated">{{tasks[taskCreated].title}}</li></ul>
                        </div>
                    </div>
                </md-content>
                <div class="tab-content"></div>
            </div>
        </ng-switch>
    </div>
</div>