<style>
    .label-button {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: none;
        font-size: 14px;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 3px;
        padding-top: 1px;
    }

    .my-show-hide-animation.ng-hide-add,
    .my-show-hide-animation.ng-hide-remove {
        -webkit-transition: 500ms linear all;
        transition: 500ms linear all;

        /* remember to add this */
        display: block !important;
        max-height: 2000px;
        overflow: hidden;
        opacity: 1;
    }

    .my-show-hide-animation.ng-hide {
        height: auto;
        max-height: 0;
        opacity: 0;
    }
</style>

<script type="text/ng-template" id="skills-tree">
    <md-button ng-click="expand(skill)" class="md-raised label-button"
               ng-class="{'md-primary': highlightSkills && isInUserSkills(skill),
                          'md-accent': highlightNeeds && isInUserNeeds(skill)}">{{skill.title}}
    </md-button>
    <ul class="my-show-hide-animation" ng-if="skill.children" ng-show="skill.expanded">
        <li ng-repeat="skill in skill.children" ng-include="'skills-tree'">
        </li>
    </ul>
</script>

<div layout="row" layout-fill style="min-height: calc(100vh - 64px);">
    <div class="md-whiteframe-z2" flex="20" flex-sm="35" flex-md="30"
         style="padding: 16px; background-color: #FAFAFA; z-index: 1;">
        <form name="filterBySkillTitle">
            <md-input-container>
                <label>Название умения</label>
                <input type="text" ng-model="skillTitle">
            </md-input-container>
        </form>
        <div style="margin-left: 5%">
            <h5>Выделить</h5>
            <md-checkbox class="md-primary" ng-model="highlightSkills">Умею</md-checkbox>
            <md-checkbox class="md-accent" ng-model="highlightNeeds">Хочу</md-checkbox>
        </div>
        <div layout="column" layout-align="center center">
            <div>
                <md-button ng-click="toogleExpandedForAll(false)" class="md-primary">Свернуть список</md-button>
            </div>
            <div>
                <md-button ng-click="toogleExpandedForAll(true)" class="md-primary">Развернуть список</md-button>
            </div>
        </div>
    </div>

    <div layout="column" flex class="md-whiteframe-z2" style="background-color: #fff;">
        <div class="my-show-hide-animation" ng-show="skillTitle.length === 0" flex>
            <div style="margin-top: 10px; margin-left: 20px;">
                <md-button ng-click="expand(exs.root)" class="md-raised label-button" style="background-color: #FFEB3B">
                    {{exs.root.title}}
                </md-button>
            </div>
            <ul style="margin-top: 0px;" class="my-show-hide-animation" ng-show="exs.root.expanded">
                <li ng-repeat="skill in exs.root.children" ng-include="'skills-tree'">
                </li>
            </ul>
        </div>
        <div class="my-show-hide-animation" ng-show="skillTitle.length !== 0" flex>
            <div style="margin-left: 20px;">
                <h4 style="color: rgba(0,0,0,0.54);">Результаты поиска:</h4>
            </div>
            <div ng-repeat="skill in filteredSkills">
                <div style="margin-left: 25px;">
                    <md-button ng-click="expand(skill)" class="md-raised label-button">
                        {{skill.title}}
                    </md-button>
                <ul class="my-show-hide-animation" ng-show="skill.expanded">
                    <li ng-repeat="skill in skill.children" ng-include="'skills-tree'">
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>