<div class="container-fluid" ng-controller="usersListCtrl">
    <div id="creat_condition">{{users[0].fullName}}</div>
    <div class="table">{{users[0].exp | thousand}}</div>
    <p><p>

    <div class="row" ng-controller="skillsListCtrl">
        <p>
        <table class="col-md-12" id="main_table">
            <tr id="main_table_header"><td>My SKILLS</td></tr>
            <tr ng-repeat="skill in users[0].skills">
                <td>{{skills[skill].title}}</td>
            </tr>
        </table>
        <table class="col-md-12" id="main_table">
            <tr id="main_table_header"><td>My NEEDS</td></tr>
            <tr ng-repeat="skill in users[0].needs">
                <td>{{skills[skill].title}}</td>
            </tr>
        </table>
    </div>
</div>
