<style>
    .face {
        border-radius: 30px;
        border: 1px solid #ddd;
        width: 48px;
        margin: 16px;
    }
    md-toolbar.demo-toolbar {
        background: #E0E0E0 !important;
        color: #616161;
    }

    .animate.ng-enter,
    .animate.ng-leave
    {
        -webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        position: relative;
        display: block;
        overflow: hidden;
        text-overflow: clip;
        white-space:nowrap;
    }

    .animate.ng-leave.animate.ng-leave-active,
    .animate.ng-enter {
        opacity: 0;
        width: 0px;
        height: 0px;
    }

    .animate.ng-enter.ng-enter-active,
    .animate.ng-leave {
        opacity: 1;
        width: 150px;
        height: 30px;
    }

    .my-show-hide-animation.ng-hide-add,
    .my-show-hide-animation.ng-hide-remove {
        -webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;

        /* remember to add this */
        display:block!important;
        max-height: 500px;
        overflow: hidden;
        opacity: 1;
    }
    .my-show-hide-animation.ng-hide {
        height: auto;
        max-height: 0;
        opacity: 0;
    }
</style>

<div style="position: fixed; background-color: #FAFAFA; height: 100%; width: 100%;"></div>
<div style="position: absolute; background-color: #3F51B5; height: 232px; width: 100%;"></div>

<div ng-controller="usersListCtrl" style="position: relative">
    <div layout="row">
        <div flex="15" flex-md="5" hide-sm></div>
        <div flex style="margin-top: 30px; margin-bottom: 30px; box-shadow: 0 1px 2px rgba(0,0,0,0.26);">
            <md-toolbar class="demo-toolbar">
                <div layout="row">
                    <div flex="40">
                        <h2 class="md-toolbar-tools">
                            <span>Пользователи</span>
                        </h2>
                    </div>
                    <div flex layout="row" layout-align="end center">
                        <form name="usersForm" style="width: 80%;">
                            <md-input-container style="margin-top: 12px; margin-right: 20px;" flex>
                                <input ng-model="username" placeholder="Имя пользователя">
                            </md-input-container>
                        </form>
                    </div>
                </div>
            </md-toolbar>
            <md-content>
                <md-list>
                    <md-item class="animate" ng-repeat="user in users | filter:username">
                        <md-item-content style="align-items: flex-start !important;">
                            <div class="md-tile-left">
                                <img src="/bower_components/material-design-icons/action/svg/design/ic_account_circle_24px.svg"
                                     class="face" alt="{{user.FIO}}">
                            </div>
                            <div class="md-tile-content">
                                <h3> <a href="/users/{{users.indexOf(user)}}"> {{user.FIO}}</a></h3>
                                <h4>exp: {{user.exp | thousand}}</h4>
                                <p>
                                    Получено скиллов: {{user.skills.length}}<span style="margin-left: 20px;"></span>
                                    Выполнено заданий: {{user.tasksDone.length}}
                                </p>
                                <div class="my-show-hide-animation" ng-show="user.expanded">
                                    <h3>Skills:</h3>
                                    <ul><li ng-repeat="skill in user.skills"><h4>{{skills[skill].title}}</h4></li></ul>
                                    <h3>Needs:</h3>
                                    <ul><li ng-repeat="need in user.needs"><h4>{{skills[need].title}}</h4></li></ul>
                                </div>
                            </div>
                            <div>
                                <md-button ng-click="expand(user)" style="margin: 20px" aria-label="expand">
                                    <img ng-show="!user.expanded" src="/bower_components/material-design-icons/navigation/svg/design/ic_expand_more_24px.svg">
                                    <img ng-show="user.expanded" src="/bower_components/material-design-icons/navigation/svg/design/ic_expand_less_24px.svg">
                                </md-button><br>
                            </div>
                        </md-item-content>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-item>
                </md-list>
            </md-content>
        </div>
        <div flex="15" flex-md="5" hide-sm></div>
    </div>
</div>