<style>
    .info-length-aria {
        padding-left: 2px;
        padding-right: 5px;
    }

    .info-length-aria h5 {
        margin-top: 0px;
        margin-bottom: 10px;
        font-weight: normal;
    }

    md-tabs-ink-bar {
        background-color: #E91E63 !important;
    }

    .my-subheader {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.54);
        margin-right: 30px;
    }

    .label-button {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: none;
        font-size: 14px;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 3px;
        padding-top: 1px;
    }
</style>

<div layout="row" style="padding-top: 30px; padding-bottom: 30px;">
    <div layout="row" flex="30">
        <div flex="35"></div>
        <div layout="column" flex>
            <div style="border-radius: 4px; border: 2px solid #e0e0e0;">
                <img src="/bower_components/material-design-icons/social/svg/design/ic_person_48px.svg"
                     style="width: 100%;">
            </div>
            <div style="padding-left: 2px;">
                <h3 style="margin-bottom: 0px; margin-top: 10px;">{{user.fullName}}</h3>
                <h4 style="margin-top: 5px; margin-bottom: 0px; color: rgba(0,0,0,0.54); font-weight: normal;">exp:
                    {{user.exp | thousand}}</h4>
            </div>

            <md-divider style="margin-top: 10px; margin-bottom: 10px;"></md-divider>

            <div layout="row" layout-align="space-around center">
                <h4 style="margin-bottom: 0px; margin-top: 0px; color: #3F51B5;">{{user.skills.length}}</h4>
                <h4 style="margin-bottom: 0px; margin-top: 0px; color: #E91E63;">{{user.needs.length}}</h4>
            </div>
            <div layout="row" layout-align="space-around center">
                <h5 style="margin-bottom: 0px; margin-top: 0px; color: rgba(0,0,0,0.54);">Умею</h5>
                <h5 style="margin-bottom: 0px; margin-top: 0px; color: rgba(0,0,0,0.54);">Хочу</h5>
            </div>

            <md-divider style="margin-top: 10px; margin-bottom: 10px;"></md-divider>

            <div layout="column" layout-align="center center">
                <h4 style="margin: 0px; margin-bottom: 5px;">Умею</h4>
            </div>
            <div>
                <md-button class="md-raised md-primary label-button"
                           ng-repeat="skill in user.skills">{{skills[skill].title}}
                </md-button>
            </div>

            <md-divider style="margin-top: 10px; margin-bottom: 10px;"></md-divider>

            <div layout="column" layout-align="center center">
                <h4 style="margin: 0px; margin-bottom: 5px;">Хочу</h4>
            </div>
            <div>
                <md-button class="md-raised md-accent md-hue-2 label-button"
                           ng-repeat="need in user.needs">{{skills[need].title}}
                </md-button>
            </div>

            <md-divider style="margin-top: 10px; margin-bottom: 10px;"></md-divider>

        </div>
    </div>
    <div layout="row" flex>
        <div flex style="padding-left: 20px;">
            <div style="box-shadow: 0 1px 2px rgba(0,0,0,0.26);">
                <md-tabs md-selected="tabSelected">
                    <md-tab>Решено: <span style="font-weight: bold;">{{user.tasksDone.length}}</span></md-tab>
                    <md-tab>Проверено: <span style="font-weight: bold;">{{user.tasksChecked.length}}</span></md-tab>
                    <md-tab>Подтверждено: <span style="font-weight: bold;">{{user.tasksApproved.length}}</span></md-tab>
                    <md-tab>Создано: <span style="font-weight: bold;">{{user.tasksCreated.length}}</span></md-tab>
                </md-tabs>
                <md-content style="max-height: calc(100vh - 172px);">
                    <md-list>
                        <ng-switch on="tabSelected">
                            <div ng-switch-when="0">
                                <md-item ng-repeat="task in user.tasksDone">
                                    <md-item-content>
                                        <div class="md-tile-content" layout="column">
                                            <div>
                                                <h3 style="float: left; margin-right: 20px"><a href="/tasks/{{task}}">
                                                    {{tasks[task].title}}
                                                </a></h3>
                                                <p style="float: right;">exp: +{{tasks[task].exp | thousand}}</p>
                                            </div>
                                            <div>
                                                <h3 style="float: left; margin-right: 7px;">Умения:</h3>
                                                <md-button class="md-raised md-primary label-button"
                                                           ng-repeat="skill in tasks[task].skills">
                                                    {{skills[skill].title}}
                                                </md-button>
                                            </div>
                                            <div layout="row">
                                                <div class="my-subheader">Дата решения: {{tasks[task].dateCreated}}</div>
                                                <div class="my-subheader">Автор: <a href="/users/{{users.indexOf(findUser(tasks[task].author))}}">
                                                    {{findUser(tasks[task].author).fullName}}
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                    </md-item-content>
                                    <md-divider></md-divider>
                                </md-item>
                                <md-item ng-show="user.tasksDone.length == 0">
                                    <md-item-content>
                                        <div class="md-tile-content" layout="column" layout-align="center center">
                                            <div>
                                                <h3 style="color: rgba(0,0,0,0.54);">Пользователь не решил ни одного
                                                    задания</h3>
                                            </div>
                                        </div>
                                    </md-item-content>
                                </md-item>
                            </div>
                            <div ng-switch-when="1">
                                <md-item ng-repeat="task in user.tasksChecked">
                                    <md-item-content>
                                        <div class="md-tile-content" layout="column">
                                            <div>
                                                <h3 style="float: left; margin-right: 20px"><a href="/tasks/{{task}}">
                                                    {{tasks[task].title}}
                                                </a></h3>
                                                <p style="float: right;">exp: +{{tasks[task].exp | thousand}}</p>
                                            </div>
                                            <div>
                                                <h3 style="float: left; margin-right: 7px;">Умения:</h3>
                                                <md-button class="md-raised md-primary label-button"
                                                           ng-repeat="skill in tasks[task].skills">
                                                    {{skills[skill].title}}
                                                </md-button>
                                            </div>
                                            <div layout="row">
                                                <div class="my-subheader">Дата проверки: {{tasks[task].dateCreated}}</div>
                                                <div class="my-subheader">Решил: <a href="/users/{{users.indexOf(findUser(tasks[task].author))}}">
                                                    {{findUser(tasks[task].author).fullName}}
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                    </md-item-content>
                                    <md-divider></md-divider>
                                </md-item>
                                <md-item ng-show="user.tasksChecked.length == 0">
                                    <md-item-content>
                                        <div class="md-tile-content" layout="column" layout-align="center center">
                                            <div>
                                                <h3 style="color: rgba(0,0,0,0.54);">Пользователь не проверил ни одного
                                                    задания</h3>
                                            </div>
                                        </div>
                                    </md-item-content>
                                </md-item>
                            </div>
                            <div ng-switch-when="2">
                                <md-item ng-repeat="task in user.tasksApproved">
                                    <md-item-content>
                                        <div class="md-tile-content" layout="column">
                                            <div>
                                                <h3 style="float: left; margin-right: 20px"><a href="/tasks/{{task}}">
                                                    {{tasks[task].title}}
                                                </a></h3>
                                                <p style="float: right;">exp: +{{tasks[task].exp | thousand}}</p>
                                            </div>
                                            <div>
                                                <h3 style="float: left; margin-right: 7px;">Умения:</h3>
                                                <md-button class="md-raised md-primary label-button"
                                                           ng-repeat="skill in tasks[task].skills">
                                                    {{skills[skill].title}}
                                                </md-button>
                                            </div>
                                            <div layout="row">
                                                <div class="my-subheader">Дата подтверждения: {{tasks[task].dateCreated}}</div>
                                                <div class="my-subheader">Автор: <a href="/users/{{users.indexOf(findUser(tasks[task].author))}}">
                                                    {{findUser(tasks[task].author).fullName}}
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                    </md-item-content>
                                    <md-divider></md-divider>
                                </md-item>
                                <md-item ng-show="user.tasksApproved.length == 0">
                                    <md-item-content>
                                        <div class="md-tile-content" layout="column" layout-align="center center">
                                            <div>
                                                <h3 style="color: rgba(0,0,0,0.54);">Пользователь не подтвердил ни
                                                    одного задания</h3>
                                            </div>
                                        </div>
                                    </md-item-content>
                                </md-item>
                            </div>
                            <div ng-switch-when="3">
                                <md-item ng-repeat="task in user.tasksCreated">
                                    <md-item-content>
                                        <div class="md-tile-content" layout="column">
                                            <div>
                                                <h3 style="float: left; margin-right: 20px"><a href="/tasks/{{task}}">
                                                    {{tasks[task].title}}
                                                </a></h3>
                                                <p style="float: right;">exp: +{{tasks[task].exp | thousand}}</p>
                                            </div>
                                            <div>
                                                <h3 style="float: left; margin-right: 7px;">Умения:</h3>
                                                <md-button class="md-raised md-primary label-button"
                                                           ng-repeat="skill in tasks[task].skills">
                                                    {{skills[skill].title}}
                                                </md-button>
                                            </div>
                                            <div layout="row">
                                                <div class="my-subheader">Дата создания: {{tasks[task].dateCreated}}</div>
                                            </div>
                                        </div>
                                    </md-item-content>
                                    <md-divider></md-divider>
                                </md-item>
                                <md-item ng-show="user.tasksCreated.length == 0">
                                    <md-item-content>
                                        <div class="md-tile-content" layout="column" layout-align="center center">
                                            <div>
                                                <h3 style="color: rgba(0,0,0,0.26);">Пользователь не создал ни одного
                                                    задания</h3>
                                            </div>
                                        </div>
                                    </md-item-content>
                                </md-item>
                            </div>
                        </ng-switch>
                    </md-list>
                </md-content>
            </div>
        </div>
        <div flex="20"></div>
    </div>
</div>