.container {
    background-position: center;
    min-width: 940px;
    margin: 10px;
    font-size: 20px;
    padding: 10px 0 10px 0;
    color: #363636;
}

.table {
    text-align: left;
}

#profile-text {
    text-align: center;
    font-size: 50px;
    color: #008B8B;
    padding: 10px 0 20px 0;
}

#profile-name-text {
    color: #8B658B;
}

#job-text {
    text-align: center;
    font-size: 50px;
    color: #EE6363;
    padding: 10px 0 20px 0;
}

#creat_job {
    text-align: center;
    font-size: 50px;
    color: red;
    padding: 10px 0 20px 0;
}

#check_job {
    text-align: center;
    font-size: 50px;
    color: green;
    padding: 10px 0 20px 0;
}

#pad {
    padding: 15px ;
}

table th {
    text-align: center;
    color: white;
}

#bg_user_keep {
    background-color: #2E8B57;
}

#bg_user_may_make {
    background-color: #EE6363;
}

#bg_user_may_approve {
    background-color:  	#66CD50;
}

.center {
    text-align: center;
}

#creat_condition {
    font-size: 30px;
    color: #2F4F4F;
}
