<style>
    .face {
        border-radius: 30px;
        border: 1px solid #ddd;
        width: 48px;
        margin: 16px;
    }

    md-toolbar.demo-toolbar {
        background: rgba(0, 0, 0, 0.12) !important;
        color: rgba(0, 0, 0, 0.54);
    }

    .animate.ng-enter,
    .animate.ng-leave {
        -webkit-transition: 500ms cubic-bezier(0.250, 0.750, 0.750, 0.250) all;
        -moz-transition: 500ms cubic-bezier(0.250, 0.750, 0.750, 0.250) all;
        -ms-transition: 500ms cubic-bezier(0.250, 0.750, 0.750, 0.250) all;
        -o-transition: 500ms cubic-bezier(0.250, 0.750, 0.750, 0.250) all;
        transition: 500ms cubic-bezier(0.250, 0.750, 0.750, 0.250) all;
        position: relative;
        display: block;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
    }

    .animate.ng-leave.animate.ng-leave-active,
    .animate.ng-enter {
        opacity: 0;
        width: auto;
        height: auto;
        max-width: 0;
        max-height: 0;
    }

    .animate.ng-enter.ng-enter-active,
    .animate.ng-leave {
        opacity: 1;
        max-width: 2000px;
        max-height: 150px;
    }

    .show-hide.ng-hide-add,
    .show-hide.ng-hide-remove {
        -webkit-transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1) all;
        transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1) all;

        /* remember to add this */
        display: block !important;
        max-height: 40px;
        overflow: hidden;
        opacity: 1;
    }

    .show-hide.ng-hide {
        height: auto;
        max-height: 0;
        opacity: 0;
    }

    .show-hide-list.ng-hide-add,
    .show-hide-list.ng-hide-remove {
        -webkit-transition: 500ms ease-in-out all;
        transition: 500ms ease-in-out all;
        /* remember to add this */
        display: block !important;
        max-height: 300px;
        overflow: hidden;
        opacity: 1;
    }

    .show-hide-list.ng-hide {
        height: auto;
        max-height: 0;
        opacity: 0;
    }

    .my-subheader {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.54);
    }
    .label-button {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: none;
        font-size: 14px;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 3px;
        padding-top: 1px;
    }
    code {
        white-space: pre-wrap !important;
        background-color: rgba(0,0,0,0) !important;
        padding: 0px !important;
    }

    pre {
        margin: 0px !important;
    }

    .task-description {
        padding: 10px;
        padding-top: 14px;
        padding-bottom: 14px;
        margin-bottom: 10px;
        border-radius: 0px 0px 3px 3px;
        border: 1px solid #BDBDBD;
    }

    .task-desc-header {
        margin-top: 6px;
        background-color: #E8EAF6;
        padding: 10px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 3px 3px 0px 0px;
        border: 1px solid #BDBDBD;
        border-bottom: none;
    }

    md-tabs-ink-bar {
        background-color: #E91E63 !important;
    }
</style>

<div ng-controller="mainPageCtrl" style="position: relative; min-height: calc(100vh - 64px);">
    <div layout="row">
        <div flex="15" flex-md="5" hide-sm></div>
        <div flex layout="column"
             style="margin-top: 30px; margin-bottom: 30px; box-shadow: 0 1px 2px rgba(0,0,0,0.26); background-color: #FFFFFF; z-index: 3;">
            <md-tabs md-selected="tooltipClicked">
                <md-tab>
                    Решить
                </md-tab>
                <md-tab>
                    Проверить
                </md-tab>
                <md-tab>
                    Подтвердить
                </md-tab>
                <md-tab>
                    Создать
                </md-tab>
            </md-tabs>
            <md-content style="min-height: 350px; max-height: calc(100vh - 175px);">
                <ng-switch on="tooltipClicked">
                    <div role="tabpanel"
                         aria-labelledby="tab1"
                         ng-switch-when="0"
                         md-swipe-left="next()"
                         md-swipe-right="previous()">
                        <md-list layout="column">
                            <md-item class="animate"
                                     ng-repeat="(taskKey, taskVal) in tasks">
                                <md-item-content style="align-items: flex-start !important;">
                                    <div class="md-tile-content" layout="column">
                                        <div>
                                            <h3 style="float: left; margin-right: 20px"><a
                                                    href="#">{{taskVal.title}}</a></h3>
                                            <h3 style="float: left; color: #4CAF50">ЛЕГКО</h3>
                                            <p style="float: right;">exp: {{taskVal.exp | thousand}}</p>
                                        </div>
                                        <div>
                                            <h3 style="float: left; margin-right: 7px;">Умения:</h3>
                                            <md-button aria-label="skillBtn" class="md-raised md-primary label-button"
                                                       ng-repeat="skill in taskVal.skills">
                                                {{skills[skill].title}}
                                            </md-button>
                                        </div>
                                        <div class="show-hide-list" ng-show="taskVal.expanded">
                                            <div class="task-desc-header">
                                                <h4 style="margin-bottom: 0px;">Условие</h4>
                                            </div>
                                            <div class="task-description">
                                                {{taskVal.description}}
                                            </div>
                                        </div>
                                        <div class="show-hide-list" ng-show="taskVal.expanded">
                                            <div class="task-desc-header" style="background-color: #FCE4EC;">
                                                <h4 style="margin-bottom: 0px;">Ваше решение</h4>
                                            </div>
                                            <div class="task-description" style="margin-top: 0px;">
                                                <md-input-container flex>
                                                    <label>Текст решения</label>
                                                    <textarea style="min-height: 56px !important;" ng-model="taskSolution" multiple></textarea>
                                                </md-input-container>
                                                <div layout="row" layout-align="space-between center">
                                                    <div layout="row">
                                                        <md-button aria-label="attachFileBtn">
                                                            <img style="opacity: 0.54;" src="/bower_components/material-design-icons/editor/svg/design/ic_attach_file_18px.svg">
                                                        </md-button>
                                                        <md-button aria-label="insertImageBtn">
                                                            <img style="opacity: 0.54;" src="/bower_components/material-design-icons/editor/svg/design/ic_insert_photo_18px.svg">
                                                        </md-button>
                                                    </div>
                                                    <div layout="row" layout-align="end center">
                                                        <md-button class="md-raised" aria-label="sendSolutionBtn">Отправить</md-button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div layout="row">
                                            <div class="my-subheader">Дата создания: {{taskVal.dateCreated}}</div>
                                            <div class="my-subheader" style="margin-left: 20px;">Автор: <a
                                                    href="/users/{{users.indexOf(findUser(taskVal.author))}}">{{findUser(taskVal.author).fullName}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <md-button ng-click="expand(taskVal)" style="margin: 20px"
                                                   aria-label="expand">
                                            <img ng-show="!taskVal.expanded"
                                                 src="/bower_components/material-design-icons/navigation/svg/design/ic_expand_more_24px.svg">
                                            <img ng-show="taskVal.expanded"
                                                 src="/bower_components/material-design-icons/navigation/svg/design/ic_expand_less_24px.svg">
                                        </md-button>
                                        <br>
                                    </div>
                                </md-item-content>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-item>
                        </md-list>
                    </div>
                    <div role="tabpanel"
                         aria-labelledby="tab2"
                         ng-switch-when="1"
                         md-swipe-left="next()"
                         md-swipe-right="previous()">
                        <md-list layout="column">
                            <md-item class="animate"
                                     ng-repeat="(solutionKey, solutionVal) in solutions">
                                <md-item-content style="align-items: flex-start !important;">
                                    <div class="md-tile-content" layout="column">
                                        <div>
                                            <h3 style="float: left; margin-right: 20px"><a
                                                    href="#">{{tasks[solutionVal.taskID].title}}</a>
                                            </h3>

                                            <p style="float: right;">exp: {{tasks[solutionVal.taskID].exp |
                                                thousand}}</p>
                                        </div>
                                        <div>
                                            <h3 style="float: left; margin-right: 7px;">Умения:</h3>
                                            <md-button class="md-raised md-primary label-button" aria-label="skillBtn"
                                                       ng-repeat="skill in tasks[solutionVal.taskID].skills">
                                                {{skills[skill].title}}
                                            </md-button>
                                        </div>
                                        <div class="show-hide-list" ng-show="solutionVal.expanded">
                                            <div class="task-desc-header">
                                                <h4 style="margin-bottom: 0px;">Условие</h4>
                                            </div>
                                            <div class="task-description">
                                                {{tasks[solutionVal.taskID].description}}
                                            </div>
                                        </div>
                                        <div class="show-hide-list" ng-show="solutionVal.expanded">
                                            <div class="task-desc-header" style="background-color: #FCE4EC;">
                                                <h4 style="margin-bottom: 0px;">Решение</h4>
                                            </div>
                                            <div class="task-description" style="margin-top: 0px;" hljs source="solutionVal.text">
                                            </div>
                                        </div>
                                        <div layout="row" layout-align="space-between center">
                                            <div layout="row">
                                            <div class="my-subheader">Дата решения: {{solutionVal.date}}</div>
                                            <div class="my-subheader" style="margin-left: 20px;">Решил: <a
                                                    href="/users/{{users.indexOf(findUser(solutionVal.userID))}}">{{findUser(solutionVal.userID).fullName}}</a>
                                            </div>
                                            </div>
                                            <div class="show-hide" ng-show="solutionVal.expanded">
                                                <md-button><img style="opacity: 0.54;"  aria-label="thumbUpBtn"
                                                                src="/bower_components/material-design-icons/action/svg/design/ic_thumb_up_24px.svg">
                                                </md-button>
                                                <md-button style="margin-left: 20px;"><img style="opacity: 0.54;"  aria-label="thumbUpBtn"
                                                                                           src="/bower_components/material-design-icons/action/svg/design/ic_thumb_down_24px.svg">
                                                </md-button>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <md-button ng-click="expand(solutionVal)"
                                                   style="margin: 20px" aria-label="expand">
                                            <img ng-show="!solutionVal.expanded"
                                                 src="/bower_components/material-design-icons/navigation/svg/design/ic_expand_more_24px.svg">
                                            <img ng-show="solutionVal.expanded"
                                                 src="/bower_components/material-design-icons/navigation/svg/design/ic_expand_less_24px.svg">
                                        </md-button>
                                        <br>
                                    </div>
                                </md-item-content>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-item>
                        </md-list>
                    </div>
                    <div role="tabpanel"
                         aria-labelledby="tab3"
                         ng-switch-when="2"
                         md-swipe-left="next()"
                         md-swipe-right="previous()">
                        <md-list layout="column">
                            <md-item class="animate"
                                     ng-repeat="(taskKey, taskVal) in tasks">
                                <md-item-content style="align-items: flex-start !important;">
                                    <div class="md-tile-content" layout="column">
                                        <div>
                                            <h3 style="float: left; margin-right: 20px"><a
                                                    href="#">{{taskVal.title}}</a></h3>

                                            <p style="float: right;">exp: {{taskVal.exp | thousand}}</p>
                                        </div>
                                        <div>
                                            <h3 style="float: left; margin-right: 7px;">Умения:</h3>
                                            <md-button class="md-raised md-primary label-button"
                                                       ng-repeat="skill in taskVal.skills" aria-label="skillBtn">
                                                {{skills[skill].title}}
                                            </md-button>
                                        </div>
                                        <div class="show-hide-list" ng-show="taskVal.expanded">
                                            <div class="task-desc-header">
                                                <h4 style="margin-bottom: 0px;">Условие</h4>
                                            </div>
                                            <div class="task-description">
                                                {{taskVal.description}}
                                            </div>
                                        </div>
                                        <div layout="row" layout-align="space-between center">
                                            <div layout="row">
                                                <div class="my-subheader">Дата создания: {{taskVal.dateCreated}}</div>
                                                <div class="my-subheader" style="margin-left: 20px;">Автор: <a
                                                        href="/users/{{users.indexOf(findUser(taskVal.author))}}">{{findUser(taskVal.author).fullName}}</a>
                                                </div>
                                            </div>
                                            <div class="show-hide" ng-show="taskVal.expanded">
                                                <md-button><img style="opacity: 0.54;" aria-label="thumbUpBtn"
                                                                src="/bower_components/material-design-icons/action/svg/design/ic_thumb_up_24px.svg">
                                                </md-button>
                                                <md-button style="margin-left: 20px;"><img style="opacity: 0.54;" aria-label="thumbUpBtn"
                                                                                           src="/bower_components/material-design-icons/action/svg/design/ic_thumb_down_24px.svg">
                                                </md-button>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <md-button ng-click="expand(taskVal)" style="margin: 20px"
                                                   aria-label="expand">
                                            <img ng-show="!taskVal.expanded"
                                                 src="/bower_components/material-design-icons/navigation/svg/design/ic_expand_more_24px.svg">
                                            <img ng-show="taskVal.expanded"
                                                 src="/bower_components/material-design-icons/navigation/svg/design/ic_expand_less_24px.svg">
                                        </md-button>
                                        <br>
                                    </div>
                                </md-item-content>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-item>
                        </md-list>
                    </div>
                    <div role="tabpanel"
                         aria-labelledby="tab4"
                         ng-switch-when="3"
                         md-swipe-left="next()"
                         md-swipe-right="previous()">
                        <md-content class="md-padding">
                            <form name="createForm">
                                <md-input-container flex>
                                    <label>Название задания</label>
                                    <input ng-model="newTaskName" md-maxlength="100">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Текст задания</label>
                                    <textarea ng-model="newTaskDescription" columns="1"></textarea>
                                </md-input-container>
                                <div layout="row" layout-align="start center">
                                    <md-input-container flex>
                                        <label>Добавить умения</label>
                                        <input ng-model="skillTitle">
                                    </md-input-container>
                                    <md-button style="margin-left: 5px;" aria-label="addSkillBtn">
                                        <img src="/bower_components/material-design-icons/content/svg/design/ic_add_24px.svg">
                                    </md-button>
                                </div>
                                <h5>Умения: </h5>
                            </form>
                            <md-button class="md-raised md-fab-cyan" style="float: right;">Создать</md-button>
                        </md-content>
                    </div>
                </ng-switch>
            </md-content>
        </div>
        <div flex="15" flex-md="5" hide-sm></div>
    </div>
</div>