<div id="job-text">
    ВСЕ ПОЛЬЗОВАТЕЛИ:
</div>

<div class="row" id="pad" ng-controller="usersListCtrl">
    <table class="table table-bordered" align>
        <tr id="bg_user_keep_All">
            <th colspan="2"><a href="" ng-click="reverse=!reverse;order('FIO', reverse)">ФИО пользователя</a></th>
            <th><a href="" ng-click="reverse=!reverse;order('ExPe', reverse)">ExPe</a></th>
        </tr>
        <tr ng-repeat="user in users">
            <td align="center">
                <button type="button" class="btn btn-primary">
                    <span class=" glyphicon glyphicon-user"></span>
                </button>
            </td>
            <td>{{user.FIO}}</td>
            <td>{{user.ExPe}}</td>
        </tr>
    </table>
</div>
