.table {
    text-align: left;
    font-size: 15px;
}

#main_btn_header {
    padding: 5px 0;
    background: #E8E8E8;
}

#main_table_header {
    background: #E8E8E8;
    text-align: center;
    font-size: 20px;
}

#main_table {
    border: 1px;
    text-align: left;
    font-size: 10px;

}

#profile-text {
    text-align: center;
    font-size: 50px;
    color: #008B8B;
    padding: 10px 0 20px 0;
}

#profile-name-text {
    color: #8B658B;
}

#job-text {
    text-align: center;
    font-size: 50px;
    color: #EE6363;
    padding: 10px 0 20px 0;
}

#creat_job {
    text-align: center;
    font-size: 50px;
    color: red;
    padding: 10px 0 20px 0;
}

#check_job {
    text-align: center;
    font-size: 50px;
    color: green;
    padding: 10px 0 20px 0;
}

#pad {
    padding: 15px;
}

#bg_user_keep_All {
    background-color: #8FBC8F;
}

table th {
    text-align: center;
    color: white;
}

#bg_user_keep {
    background-color: #2E8B57;
}

#bg_user_may_make {
    background-color: #EE6363;
}

#bg_user_may_approve {
    background-color: #66CD50;
}

.center {
    text-align: center;
}

#creat_condition {
    font-size: 30px;
    color: #2F4F4F;
}

.navbar-user {
    float: left;
    margin-top: 10px;
}

.navbar-avatar {
    float: left;
    margin-top: 4px;
    margin-right: 5px;
}

.navbar-username {
    float: left;
    margin-top: 8px;
    white-space: nowrap;
    margin-right: 15px;
}

.navbar-experience {
    float: left;
    width: 150px;
    margin-top:15px;
}